<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="API Automation Suite">
	<test name="Add Location on Google Maps">
    	<classes>
      		<class name="api.GoogleMapsAddLocationAPI"/>
      		<class name="api.GoogleMapsDeleteLocationAPI"/>
    	</classes>
  	</test>
</suite>
